<div class="rules">

    <h1 class="rules__title">
        <i class="pi pi-shield"></i> KnowVista – Rights & Rules
    </h1>

    <section class="rules__section flex justify-content-evenly gap-2">
        <div>
            <h2><i class="pi pi-user"></i> User Rights</h2>
            <ul>
                <li *ngFor="let r of getByType('RIGHT')">
                    <i [class]="r.icon"></i> {{ r.text }}
                </li>
            </ul>
        </div>
        <div>
            <h2><i class="pi pi-ban"></i> User Rules</h2>
            <ul>
                <li *ngFor="let r of getByType('RULE')">
                    <i [class]="r.icon"></i> {{ r.text }}
                </li>
            </ul>
        </div>
    </section>

    <section class="rules__section flex justify-content-evenly gap-6">
        <div>
            <h2><i class="pi pi-file"></i> Content Guidelines</h2>
            <ul>
                <li *ngFor="let r of getByType('GUIDELINE')">
                    <i [class]="r.icon"></i> {{ r.text }}
                </li>
            </ul>
        </div>
        <div>
            <h2><i class="pi pi-cog"></i> Admin Rights</h2>
            <ul>
                <li *ngFor="let r of getByType('ADMIN')">
                    <i [class]="r.icon"></i> {{ r.text }}
                </li>
            </ul>
        </div>
    </section>

</div>